.form_login {
	width: 400px;
	margin-left: -200px;
	padding-left: 50%;
	height: 150px;
	margin-top: 200px;
	color: #FFFFFF;
}
#submit {
	color: #FFF;
	border-radius: 5px;
	background-color: #666;

}

body {
	background-color: #4D4D4D;
}
.tabela_form {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #888;
	border-radius: 10px;
}
td {
	background-color: #888;
}
#logo{
	margin-left: -45px;
	padding-left: 50%;
}
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
nav {
	min-height: 200px;
	background-color: #A6A6A6;
}
