*{
	margin:0px auto;
}

.botao1{
	background-color: #888;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.2s;
}
.botao1:hover{
	background-color: #666;
}