@charset "utf-8";
/* CSS Document */

header{
	background-color:rgba(120,120,120,1.00);
}
.bg-form-base{
	background-color:#CDCDCD;
	border-radius: 10px;
	color: #FFFFFF;
}

.botao-form{
	width: 30%;
	border-radius: 5px;
	margin: 5px;
}
.form-margin-top{
	margin-top: 10%;
}

.form-margin-top-r{
	margin-top: 5%;
}
.form-b-box{
	background-color:rgba(223,223,223,0.70);
	padding: 10px;
	border-radius: 5px;
}
