@charset "utf-8";
/* CSS Document */
.bg-form-base{
	background-color:#CDCDCD;
	border-radius: 10px;
	color: #FFFFFF;
}

.botao-form{
	width: 30%;
	border-radius: 5px;
	margin: 5px;
}
.form-margin-top{
	margin-top: 15%;
}

.form-baclgroud-box{
	background-color:#E4E4E4;
	padding: 10px;
	border-radius: 5px;
}
